﻿* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body{
  background: url(../ima/photo.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.titulo{
  text-align: center;
}

.contenedor-form{
  position: relative;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  max-width: 500px;
  margin: 48px auto;
  color: #fff;
  border-radius: 5px;
}

.contenedor-form .toggle {
  position: absolute;
  top: 7px;
  right: 7px;
  width: 100px;
  height: 30px;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
  border-top: 2px solid #043892;
  border-bottom: 2px solid #043892;
  transition: all .5s ease;
  cursor: pointer;
}

.contenedor-form .toggle span{
  letter-spacing: 1px;
}

.contenedor-form .toggle:hover{
  border-top: 2px solid #0075d9;
  border-bottom: 2px solid #0075d9;
}

.contenedor-form h2{
  margin: 0 0 28px 0;
  font-size: 20px;
  font-weight: 400px;
  line-height: 1;
}

.contenedor-form input[type="text"],
.contenedor-form input[type="password"],
.contenedor-form input[type="email"]{
  outline: none;
  background: rgba(0,0,0,0.5);
  display: block;
  width: 100%;
  padding: 10px 15px;
  color: #fff;
  border: none;
  border-radius: 2px;
  border-bottom: 4px solid #043892;
  font-size: 14px;
  font-weight: normal;
  margin: 0 0 20px 0;
  transition: all .5s ease;
}

.contenedor-form input[type="text"]:focus,
.contenedor-form input[type="password"]:focus,
.contenedor-form input[type="email"]:focus{
  border-bottom: 4px solid #0075d9;
}

.contenedor-form input[type="submit"]{
  background: #2167a4;
  color: #fff;
  border: none;
  width: 100%;
  padding: 10px 0;
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 16px;
  cursor: pointer;
  transition: all .8s ease;
}

.contenedor-form input[type="submit"]:hover{
  background: rgba(27,160,71,0.7);
}

.contenedor-form .reset-password{
  width: 150px;
  height: 30px;
  text-align: center;
  border-top: 2px solid #043892;
  border-bottom: 2px solid #043892;
  transition: all .5s ease;
  cursor: pointer;
}
/*.contenedor-form .reset-password{
  background: rgba(27,160,71,0.7);
  color: fff;
  width: 100%;
  padding: 15px 0;
  text-align: center;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}*/

.contenedor-form .reset-password a{
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.contenedor-form .formulario{
  padding: 40px;
  display: none;
}

.contenedor-form .formulario:nth-child(3) {
  display: block;
}
